@import "tailwindcss";

header {
  background-image: url(../img/capa.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  color: #fffbde;
}

img.rounded-md {
  border-radius: 0.375rem !important; /* Equivalente a 6px, força o estilo */
}

.font-playfair {
  font-family: "Playfair Display", serif;
}
.font-lato {
  font-family: "Lato", "sans-serif";
}

main {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #262626;
}

.content p{
  font-weight: 400;
  text-align:justify;
  font-size: 1.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 2rem;
  line-height: 2.4rem;
}

.content-card {
  background-image: url(../img/capa.png);
}
.card {
  width: 370px;
  height: 50vh;
  border-radius: 20px;
  background: #044C45;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #0e3403;
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: #d2d2d2;
  height: 100%;
  gap: 0.5em;
  display: grid;
  place-content: center;
}
.card-button {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: 1rem;
  border: none;
  background-color: #D4C186;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
}

.text-body {
  color: rgb(226, 226, 226);
    font-family: 'Arial', sans-serif;
}

.text-title {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  font-weight: bold;
  align-items: center;
  color: #D4C186;
}

.card:hover {
  border-color: #D4C186;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

footer {
  color: #D4C186;
}